#gradient{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    z-index: 10;
    background: linear-gradient(to bottom, #0000008f, #00000000);
}

.home{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#carouselExampleIndicators{
    position: absolute;
    top: 0;
    z-index: 0;
    
}

.carousel-indicators{
    margin-bottom: 2rem;
}

.carousel-item{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.carousel-item img{
    width: auto;
    display: flex;
    margin: auto;
}

.main{
    width: 100%;
}

.search{
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
    z-index: 10;
}

#country{
    width: 200px;
    background-color: white;
    border: 1px solid rgb(142, 142, 143);
    color: rgb(142, 142, 143);
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    }

#city{
    width: 200px;
    background-color: white;
    border: 1px solid rgb(142, 142, 143);
    color: rgb(142, 142, 143);
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

#searchBtn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #FF685E;
    color: whitesmoke;
    width: 200px;
      display: block;
      background: #FF685E;
      cursor: pointer;
      transition: box-shadow 1s ease, color 1s ease;
      display: inline-block;
    }

    .right:hover {
      box-shadow: inset 200px 0 rgba(253, 136, 128, 0.87);
    }
    


#city option{
    font-size: 18px;
    background-color: red;
}

#country:hover, #city:hover, #searchBtn:hover{
    cursor: pointer;
}

.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 70px;
    margin-top: 120px;
}

#aboutUsBlock{
    width: 70vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ourServicesBlock{
    width: 70vw;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#aboutUsTextBlock{
    width: 300px;
}

#aboutUsTextBlock a{
    color:#20284F;
    }

#aboutUsPhotoBlock img{
    position: relative;
}

#aboutUsMainImg{
width: 350px;
    }

#ourServicesImg{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#ourServicesImg img{
    width: 120px;
}

#roteDevider{
    width: 70vw;
    margin: -80px 0;
}

.stayInTouch{
    width: 100%;
    height: 230px;
    background-color: #FFDCC8;
    display: flex;
    justify-content: center;
}

#stayInTouchBlock{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#stayInTouchText{
    width: 300px;
}

#stayInTouchInput, #contactPhoneInput{
    display: flex;
    justify-content: center;
}

.input{
    width: 25vw;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #20284F;
    padding: 6px 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    }

#phoneRequestInput{
    border: 1px solid #20284F;
}

#subscribeBtn, #requestBtn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #FF685E;
    background-color: #FF685E;
    color: white;
    padding: 6px 20px;
    transition: box-shadow 1s ease, color 1s ease;
}

.popularTrips{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* min-width: 0; */
}

#popularTripsContainer{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: fit-content;
    margin-top: 120px;
    margin-bottom: 100px;
}


.gallery{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


.gallery .wrapper{
    /* width: 70vw; */
    margin: 0 auto;
    max-width: 80rem;
    height: fit-content;
  }
  
  .gallery .cols{
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #wrap{
      /* width: 70vw; */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
  }
  
  .gallery .coll{
    height: 280px;
    width: 200px !important;
    cursor: pointer;
    padding: 0 !important;
    margin: 10px 0;
  }


  .gallery #istanbulCard{
      background-image: url(../../../img/TURKEY/istanbul/istSC1.jpg);
  }
  .gallery #norwayCard{
    background-image: url(../../../img/NORWAY/norSC1.jpg);
}
.gallery #cappadociaCard{
    background-image: url(../../../img/TURKEY/cappadocia/capSC1.jpg);
}
.gallery #kyivCard{
    background-image: url(../../../img/UKRAINE/kyiv/image_originals.jpg);
}
.gallery #coloradoCard{
    background-image: url(../../../img/USA/colorado/bailey-anselme-jGBZ_cz7t4Q-unsplash.jpg);
}
.gallery #namibiaCard{
    background-image: url(../../../img/NAMIBIA/safari.jpg);
}
.gallery #parisCard{
    background-image: url(../../../img/FRANCE/paris/paris1.jpg);
}
.gallery #nyCard{
    background-image: url(../../../img/USA/ny/architecture-art-clouds-landmark-290386.jpg);
}
  
  .gallery .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
    height: 280px;
    width: 200px;
    padding: 0;
  }
  
  .gallery .front,
  .gallery .back{
    background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      width: 200px;
      height: auto;
      border-radius: 10px;
      color: rgb(2, 2, 2);
  }
  
  .gallery .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #FFDCC8 0%,#FFA776 100%);
    background: -o-linear-gradient(45deg,  #FFDCC8 0%,#FFA776 100%);
    background: linear-gradient(45deg,  #FFDCC8 0%,#FFA776 100%);
  }
  
  .gallery .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .gallery .container:hover .front,
  .gallery .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .gallery .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .gallery .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: .1rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
      padding: 0 10px;
  }
  
  .gallery .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .gallery .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .gallery .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .gallery .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .gallery .back .inner p{
    font-size: 16px;
    margin: 1rem 0;
    position: relative;
  }
  .gallery .back .inner span{
    font-size: 22px;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .gallery .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: rgb(255, 255, 255);
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  

.contactUs{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#contactUsContainer{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px auto;
}

#contactUsTextBlock{
    width: 300px;
    display: flex;
    flex-direction: column;
}

#contactPhoneInput{
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.contact{
    display: flex;
    margin: 5px 0;
}

.contact img{
    width: 20px;
    margin-right: 10px;
}

#contactUsPhotoBlock img{
    width: 350px;
    margin-top: -80px;
    border-radius: 10px;
}

.contactUs a{
    color: black;
}


@media (min-width: 1420px){

    #aboutUsBlock, #ourServicesBlock, #roteDevider, #stayInTouchBlock, #popularTripsContainer, #contactUsContainer{
        width: 60vw;
    }

    #ourServicesImg img {
        width: 140px;
    }

    #aboutUsMainImg, #contactUsTextBlock, #stayInTouchText, #aboutUsTextBlock, #contactUsPhotoBlock img {
        width: 400px;
    }

    #country, #city, #searchBtn{
        width: 300px;
        height: 60px;
        font-size: 26px;
        
    }

    #country{
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        padding-left: 30px;
        padding-right: 30px;
        background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.2rem center/10px 20px;
    }

    #city{
        background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.2rem center/10px 20px;
    }

    #searchBtn{
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .carousel-indicators li {
        width: 50px;
        height: 4px;
        margin-right: 5px;
        margin-left: 5px;
    }

    #country option{
        font-size: 10px !important;
        min-height: .5em;
    }
    
}

@media (max-width: 950px){
  #aboutUsBlock, #ourServicesBlock, #roteDevider, #stayInTouchBlock, #popularTripsContainer, #contactUsContainer{
    width: 90vw;
}

.carousel-item img{
    margin-left: -100px;
}

}

@media (max-width: 730px){
    #city, #country, #searchBtn{
        width: 150px;
    }

    #aboutUsPhotoBlock, #contactUsPhotoBlock, #aboutUsMainImg, #contactUsPhotoBlock img{
        width: 250px;
    }

    #contactUsPhotoBlock img{
        margin-top: 0;
    }

    .aboutUs{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    #coloradoCardContainer, #parisCardContainer, #kyivCardContainer, #nyCardContainer{
        display: none;
    }

    .carousel-item img{
        margin-left: -250px;
    }

  
  }

  @media (max-width: 560px){
      .contForImg{
          width: 80px;
      }

      #ourServicesImg img{
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: space-between;
      }

      #roteDevider{
          display: none;
      }

      #aboutUsBlock, #stayInTouchBlock{
          flex-direction: column;
          height: fit-content;
      }

      .aboutUs{
          height: fit-content;
          margin-bottom: 0;
      }

      #stayInTouchText, #aboutUsTextBlock{
          width: 90vw;
      }

      #subscribeBtn, #requestBtn{
          width: 120px;
      }

      #stayInTouchInput{
          width: 90vw;
      }

      #stayInTouchInput input{
        width: calc(90vw - 120px);
    }

    #contactPhoneInput input{
        width: calc(90vw - 120px);
    }

    .stayInTouch{
        align-items: center;
    }

    #popularTripsContainer{
        margin-top: 70px;
        margin-bottom: 0;
    }

    #contactUsContainer{
        margin: 90px auto 70px auto;
    }

    #contactUsPhotoBlock{
        display: none;
    }

    #contactUsTextBlock{
        width: 90vw;
    }

    .search{
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        height: 150px;
    }

    #country, #city, #searchBtn{
        width: 200px;
        height: 40px;
        border-radius: 5px;
    }

    .carousel-item img{
        margin-left: -350px;
    }

  }

  @media (max-width: 440px){
      #wrap{
        margin: auto;
        justify-content: center;
    }

    .carousel-item img{
        margin-left: -450px;
    }


  }
