<div class="header">
    <div id="headerBar">
        <div id="headerLogo">
            <a id="headerLogoLink" class="navLink" data-route="home">The Traveler</a>
        </div>
        <div id="headerNavBar" class="stroke">
            <ul class="nav justify-content-end">

                <li class="nav-item one">
                    <a class="navLink" href="#aboutUsBlock">About Us</a>
                </li>
                <li class="nav-item two">
                    <a class="navLink" href="#popularTripsContainer">Popular Trips</a>
                </li>
                <li class="nav-item three">
                    <a class="navLink" href="#galleryContainer">Gallery</a>
                </li>
                <li class="nav-item four">
                    <a class="navLink" href="#contactUsContainer">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>