.header{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    margin: auto;
}

#headerLogo{
    display: flex;
	align-items: center;
	padding: 20px 0;
}

#headerLogo a{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(73, 73, 73);
	
}

#headerLogo a:hover{
    text-decoration: none;
    cursor: pointer;
}


#headerBar{
    height: 50px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

#headerNavBar ul li {
    display: inline-block;
  }
  #headerNavBar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(73, 73, 73);
  }
  #headerNavBar ul li a,
  #headerNavBar ul li a:after,
  #headerNavBar ul li a:before {
    transition: all .5s;
  }
  #headerNavBar ul li a:hover {
    color: white;
  }
  
  
  /* stroke */
  #headerNavBar.stroke ul li a {
    position: relative;
  }
  #headerNavBar.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #FF685E;
    height: 2px;
  }
  #headerNavBar.stroke ul li a:hover:after {
    width: 100%;
  }


@media (max-width: 950px){
	#headerBar{
	  width: 90vw;
  }
}

@media (max-width: 730px){
	#headerNavBar{
	  display: none;
  }
}