<div class="footer">
    <div id="footerContainer">
        <div id="footerTopContainer">
            <div id="footerLogo">
                <a class="navLink" href="#">The Traveler</a>

            </div>
            <div id="footerNav">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/yuliia.noskova" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/yuliia-noskova/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://wa.me/380662638142" target="_blank">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/yuliia_noskova/?hl=ru" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/yuliianoskova" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div id="footerBottomContainer">
            <span>&copy; 2020 The Traveler. Tours and advantures.</span>
        </div>

    </div>
</div>