.footer{
    background-color: #FFDCC8;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: auto;
}

#footerContainer{
    width: 70vw;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footerTopContainer{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

#footerLogo{
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#footerLogo a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#footerBottomContainer{
    font-size: 14px;
}

  
 #footerNav ul{
    list-style: none;
    height: 50px;
  }
  
  #footerNav ul li{
    float: left;
    width: 50px;
    height: 45px;
    border: 2px solid #fff;
    margin-right: 20px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  
  #footerNav ul li:last-child{
    margin-right: 0;
  }
  
  #footerNav ul li .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
    transition: all 0.5s linear;
  }
  
  #footerNav ul li:hover{
    background: #fff;
    box-shadow: 0 0 25px 3px #fff;
  }
  
  #footerNav ul li:hover .fa{
    color: #f06060;
  }

@media (max-width: 950px){
	#footerContainer{
	  width: 90vw;
  }
}

@media (max-width: 560px){
  #footerLogo{
    display: none;
}

#footerNav{
  width: 90vw;
}

#footerNav ul{
  justify-content: space-between;
}
}